$md-accent: (
    50 : #E9ECFB,
    100 : #BEC6F4,
    200 : #93A0EC,
    300 : #6779E4,
    400 : #3C53DD,
    500 : #2239C2,
    600 : #1B2D98,
    700 : #13206C,
    800 : #0B1341,
    900 : #040616,
    A100 : #8C9EFF,
    A200 : #526CFF,
    A400 : #3C59FF,
    A700 : #2F4EFF,
    contrast: (
        50 : #222222,
        100 : #222222,
        200 : #222222,
        300 : #222222,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #222222,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
 
$md-primary: (
    50 : #eeeeee,
    100 : #d4d4d4,
    200 : #b8b8b8,
    300 : #9b9b9b,
    400 : #858585,
    500 : #707070,
    600 : #686868,
    700 : #5c5c5c,
    800 : #535353,
    900 : #414141,
    A100 : #eeeeee,
    A200 : #c8c8c8,
    A400 : #999999,
    A700 : #707070,
    contrast: (
        50 : #707070,
        100 : #606060,
        200 : #505050,
        300 : #404040,
        400 : #1A1A1A,
        500 : #f0f0f0,
        600 : #f2f2f2,
        700 : #f5f5f5,
        800 : #f8f8f8,
        900 : #ffffff,
        A100 : #707070,
        A200 : #3e3e3e,
        A400 : #1A1A1A,
        A700 : #eeeeee,
    )
);

$md-secondary: (
    50 : #E4E5E7,
    100 : #BCBFC4,
    200 : #8F949D,
    300 : #626976,
    400 : #404958,
    500 : #1E293B,
    600 : #1A2435,
    700 : #161F2D,
    800 : #121926,
    900 : #0A0F19,
    A100 : #5A8CFF,
    A200 : #2768FF,
    A400 : #0049F3,
    A700 : #0041DA,
    contrast: (
        50 : #1A1A1A,
        100 : #1A1A1A,
        200 : #1A1A1A,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #1A1A1A,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
 
$md-warn: (
    50 : #F9C8D0,
    100 : #EF6C82,
    200 : #EA3E5B,
    300 : #DD1839,
    400 : #AE132D,
    500 : #971127,
    600 : #7C0E20,
    700 : #650B1A,
    800 : #4E0914,
    900 : #3E070E,
    A100 : #FF8A80,
    A200 : #FF5252,
    A400 : #FF1744,
    A700 : #D50000,
    contrast: (
        50 : #1A1A1A,
        100 : #1A1A1A,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #1A1A1A,
        A200 : #1A1A1A,
        A400 : #1A1A1A,
        A700 : #ffffff,
    )
);

$md-success: (
    50 : #F1F8E9,
    100 : #DCEDC8,
    200 : #C5E1A5,
    300 : #AED581,
    400 : #9CCC65,
    500 : #8BC34A,
    600 : #7CB342,
    700 : #689F38,
    800 : #558B2F,
    900 : #285318,
    A100 : #CCFF90,
    A200 : #B2FF59,
    A400 : #76FF03,
    A700 : #64DD17,
    contrast: (
        50 : #1A1A1A,
        100 : #1A1A1A,
        200 : #1A1A1A,
        300 : #1A1A1A,
        400 : #1A1A1A,
        500 : #1A1A1A,
        600 : #1A1A1A,
        700 : #1A1A1A,
        800 : #1A1A1A,
        900 : #ffffff,
        A100 : #1A1A1A,
        A200 : #1A1A1A,
        A400 : #1A1A1A,
        A700 : #1A1A1A,
    )
);

$md-purple: (
    50 : #EFE4FC,
    100 : #D6BAF6,
    200 : #BB8DF1,
    300 : #A05FEB,
    400 : #8B3CE6,
    500 : #771AE2,
    600 : #6F17DF,
    700 : #6413DA,
    800 : #5A0FD6,
    900 : #4708CF,
    A100 : #FAF8FF,
    A200 : #D5C5FF,
    A400 : #AF92FF,
    A700 : #9D79FF,
    contrast: (
        50 : #1A1A1A,
        100 : #1A1A1A,
        200 : #1A1A1A,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #1A1A1A,
        A200 : #1A1A1A,
        A400 : #1A1A1A,
        A700 : #ffffff,
    )
);

$md-gray: (
    50 : #f4f4f4,
    100 : #eeeeee,
    200 : #e9e9e9,
    300 : #d4d4d4,
    400 : #b8b8b8,
    500 : #999999,
    600 : #707070,
    700 : #5c5c5c,
    800 : #3e3e3e,
    900 : #1A1A1A,
    A100 : #ffffff,
    A200 : #f4f4f4,
    A400 : #eeeeee,
    A700 : #d4d4d4,
    contrast: (
        50 : #707070,
        100 : #707070,
        200 : #707070,
        300 : #707070,
        400 : #414141,
        500 : #1A1A1A,
        600 : #f4f4f4,
        700 : #f4f4f4,
        800 : #c8c8c8,
        900 : #9b9b9b,
        A100 : #858585,
        A200 : #707070,
        A400 : #707070,
        A700 : #686868,
    )
);

$md-alert: (
    50 : #FFF3E0,
    100 : #FFE0B2,
    200 : #FFCC80,
    300 : #FAC86D,
    400 : #FFA726,
    500 : #FF9800,
    600 : #FB8C00,
    700 : #F57C00,
    800 : #EF6C00,
    900 : #802D00,
    A100 : #FFD180,
    A200 : #FFAB40,
    A400 : #FF9100,
    A700 : #FF6D00,
    contrast: (
        50 : #1A1A1A,
        100 : #1A1A1A,
        200 : #1A1A1A,
        300 : #1A1A1A,
        400 : #1A1A1A,
        500 : #1A1A1A,
        600 : #1A1A1A,
        700 : #1A1A1A,
        800 : #1A1A1A,
        900 : #ffffff,
        A100 : #1A1A1A,
        A200 : #1A1A1A,
        A400 : #1A1A1A,
        A700 : #1A1A1A,
    )
);